.idea
.vscode
/coverage
/cypress/videos
/meilifiles
/node_modules
/public/hot
/public/js
/public/css
/public/images
/public/storage
/public/vendor/telescope
/resources/stubs
/resources/csv
/resources/har
/resources/newRegularScans
/resources/sql
/resources/statements
/storage
/tests/_output
/vendor

/.env*
/.phpunit.result.cache
/c3.php
/docker-compose.override.yml
/Homestead.json
/Homestead.yaml
/npm-debug.log
/visual_studio_workspace.code-workspace
/yarn-error.log

!/.env.example
/.vagrant/machines/bank/virtualbox/private_key
/public/resources/tmp/app.css

/bootstrap/cache/**
bank_dev--local.session.sql
/cypress.env.json
/cypress/screenshots/
.nyc_output/
.php-cs-fixer.cache
database/*prod*.sql
