.idea
.vscode
/bootstrap/cache
/coverage/
/cypress/videos/
/node_modules
/public/hot
/public/js
/public/css
/public/images
/public/storage
/resources/stubs
/resources/csv
/resources/har
/resources/sql
/resources/statements
/storage
/tests/_output
/vendor

/.env*
/.phpunit.result.cache
/c3.php
/docker-compose.override.yml
/Homestead.json
/Homestead.yaml
/npm-debug.log
/visual_studio_workspace.code-workspace
/yarn-error.log

!/.env.example
/.vagrant/machines/bank/virtualbox/private_key
/public/resources/tmp/app.css
