// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Icons
:root {
    --icon-round__circle-size: 1.6rem;
    --icon-round__line-height: calc(var(--icon-round__circle-size) - (var(--icon-round__circle-size) / 4));
    --icon-round__padding: calc(var(--icon-round__circle-size) / 8);
    --icon-round__margin: var(--icon-round__padding);
    --icon-round__font-size: calc(var(--icon-round__circle-size) / 1.75)rem;
}
